H4.menu {
	margin: .5em 0% .5em 0%; font: bold 13px/18px Arial, Helvetica, Tahoma, Verdana, "sans-serif"; text-decoration: none; 
	color: #FFFFFF; padding: 0; background-color: #006400; margin: 0
}

A#menulink  {
	padding:0; font-size:13px;
	line-height: 16px;
	font-family: Arial, Helvetica, Tahoma, Verdana, "sans-serif";
	font-weight: bold;
	color: #000000;
	TEXT-DECORATION: none 
}

A#menulink2  {
	padding:0; font-size:13px;
	font-family: Arial, Helvetica, Tahoma, Verdana, "sans-serif";
	font-weight: bold;
	color: #FFFFFF;
	TEXT-DECORATION: none 
}

A:link#menulink {color: #000000}
A:visited#menulink {color: #000000}
A:hover#menulink {color: #FFFFFF; background: #000000}

A:link#menulink2 {color: #FFFFFF}
A:visited#menulink2 {color: #FFFFFF}
A:hover#menulink2 {color: #006400; background: #FFFFFF}

A:link#imagelink {color: #FFFFFF}
A:visited#imagelink {color: #FFFFFF}
A:hover#imagelink {color: #FFFFFF; background: #FFFFFF}